<!doctype html>
<title>This is Home Page</title>
<h1>Put data</h1>
<form method="POST" action="/sendAction.html">
<fieldset>
    <legend>Send Data:</legend>
    Type 1 ON & 0 OFF:<br>
    <input type="text" name = "sendData"><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>

<h1>Get data</h1>
<form method="POST" action="/receiveAction.html">
<fieldset>
    <legend>Receive Data:</legend>
    Type 1 ON & 0 OFF:<br>
    <input type="submit" value="GetData">
  </fieldset>
</form>